#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "STM32F7-template configuration"

config HAVE_DOT_CONFIG
	bool
	default y

menu "Included HAL libraries"

config HAL_SPI_MODULE_ENABLED
	bool "HAL_SPI_MODULE_ENABLED"
	help
		Include HAL Serial Peripheral Interface module.

config HAL_RCC_MODULE_ENABLED
	bool "HAL_RCC_MODULE_ENABLED"
	help
		Include HAL Reset and Clock Controller module.

endmenu
